body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    background-color: #67AECA;
    font-size: 18px;
}

.container {
    position: absolute;
    width: 45%;
    height: 50%;
    background:none;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

    .card {
        position: relative;
        width: 100%; height: 100%;
        transform-style: preserve-3d;
        transition: all 0.8s ease;
        cursor: grabbing;
        box-shadow: 0 32px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }

        .front {
            position:absolute;
            width:100%; height: 100%;
            margin: 10px 0;
            border-radius: 25px;
            backface-visibility: hidden;
            background: #495159;
            color: white;
            text-align: center;
            display:flexbox;
            justify-content: center;
            align-items: center;
        }

            .purple-box {
                border: 2px solid gray; 
                background-color: #707793;
                color: white;
                width:85%;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                border-radius: 8px;
                padding: 2px;
                margin: auto;
                font-size: 18px;
                justify-content: center;
            }

        .back {
            position:absolute;
            width:100%; height:100%;
            border-radius: 25px;
            backface-visibility: hidden;
            background: #495159;
            color: white;
            text-align: center;
            transform: rotateY(180deg);
        }

            .flipCard {
                transform: rotateY(180deg);
            }

            .profile {
                width: 100%;
                height: 70%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            
            .avatar {
                width: 250px;
                height: 250px;
                box-sizing: border-box;
                border: 5px white solid;
                border-radius: 50%;
                overflow: hidden;
                box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
                transform: translatey(0px);
                animation: float 4s ease-in-out infinite;
                img { width: 100%; height: auto; }
            }
            
            @keyframes float {
                0% {
                  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
                  transform: translatey(0px);
                }
                50% {
                  box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
                  transform: translatey(-20px);
                }
                100% {
                  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
                  transform: translatey(0px);
                }
            }

    .top-line,
    .bottom-line {
        height: 2px;
        background-color: #000;
        position: absolute;
        left: 15px;
        right: 15px;
    }

    .top-line {
        top: 5%;
        width: calc(100% - 50px);
    }

    .bottom-line {
        bottom: 5%;
        width: calc(100% - 50px);
    }

.verify-container {
    font-size: 15px;
    position: absolute;
    width: 70%;
    background:none;
    text-align: center;
    top: 70%;
}

    .response {
        justify-content: center;
        align-items: center;
    }   

        .button {
            background-color: #495159;
            color:white;
            font-size: 25px;
            width: 25%;
            height: 75px;
            padding: 5px;
            position: absolute;
            cursor: grabbing;
        }

        #yes-button {
            background-color: #154406;
            left: 35%;
            transform: translate(-50%,25%);
        }

        #no-button {
            background-color: #680C07;
            left: 65%;
            transform: translate(-50%, 25%);
        }

.text h1 {
    margin: 10px 0;
    font-size: 24px;
    color: #333;
}

.text p {
    margin: 5px 0;
    font-size: 35px;
    color: #666;
}
  